@font-face {
  font-family: Manrope;
  src: url(./assets/Manrope-VariableFont_wght.ttf);
}
body {
  background-color: hsl(218, 23%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divGrey{
  background-color:  hsl(217, 19%, 24%);
}
.btnGreen{
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
}
.txtG{
  color: hsl(150, 100%, 66%);
  font-family: Manrope;
}
.txtGrey{
  color: hsl(217, 19%, 38%);
  font-family: Manrope;
}
.center{
  display: flex;
  justify-content: center;
  position: relative;
}
